@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar */

.sidebar {
    min-height: 100vh;
    background: #212529;
}

.sidebar .nav-link {
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 15px;
    transition: 0.2s;
}

.sidebar .nav-link:hover {
    background: rgba(255,255,255,0.1);
}

/* Cards */

.card {
    border: none;
    border-radius: 15px;
}

/* Tabela */

.table th {
    background: #212529;
    color: white;
}

.table td,
.table th {
    vertical-align: middle;
}

/* Inputs */

.form-control,
.form-select {
    border-radius: 10px;
}

/* Botões */

.btn {
    border-radius: 10px;
}